.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 441px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 0.75rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    color: red;
    text-align: center;
}

.inputField {
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    margin-top: 0.75;
    margin-bottom: 0.75rem;

    &:focus {
        outline: none;
    }
}

.button {
    margin-top: 2.25rem;
    width: 25%;
    height: 2.75rem;
    color: #252836;
    border-color: transparent;
    border-width: 1px;
    border-radius: 9999px;
    background: rgb(156, 163, 175, 1);
    font-size: large;
    font-weight: 700;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    cursor: pointer;

    &:hover {
        color: white;
        border-color: white;
        background: #252836;
    }
}

.link {
    margin-top: 1rem;
    color: rgb(255 255 255 / 0.8);
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}
