.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    border: .5px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    background: inherit;
}

.inputField {
    width: 80%;
    height: 44px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background: inherit;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    color: white;
    box-sizing: border-box;
    padding: 0 25px;
}

.button{
    width: 117.4px;
    height: 44px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background: rgb(156 163 175);
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-weight: 700;
    cursor: pointer;
}
