.container {
    position: absolute;
    width: 100vw;
    top: 48%;
    text-align: center;
    overflow: hidden;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 32px;
    color: white;
}

.slogan {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    .left {
        opacity: 0;
        animation: showup 7s forwards 1s;
    }

    .right {
        opacity: 0;
        width: 0px;
        animation: reveal 7s forwards 1s;

        span {
            margin-left: -300px;
            animation: slidein 7s forwards 1s;
        }
    }
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -300px;
    }
    20% {
        margin-left: -300px;
    }
    35% {
        margin-left: 10px;
    }
    100% {
        margin-left: 10px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 240px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 240px;
    }
}
