.searchKey {
    color: rgb(255 255 255 / .7);
    font-size: 1rem;
    font-style: italic;
    margin-left: 7.5rem;
    margin-top: 101px;
}

.listContainer {
    width: 750px;
    margin-left: 7rem;
    margin-top: 19px;
}

.listItems {
    display: flex;
    overflow: hidden;
    background-color: #191c26;
    border-radius: 20px;
}

.text {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .title {
        color: white;
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-bottom: 1rem;

        :hover {
            color: rgb(59 130 246);
            text-decoration-line: underline;
        }
    }

    .summary {
        color: white;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.saveButton {
    padding-top: 10px;
    padding-right: 10px;
}

.prevNext {
    width: 750px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 7rem;

    .pageNumber {
        color: white;
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: 5px;
        cursor: pointer;

        :hover {
            color: rgb(59 130 246);
            text-decoration-line: underline;
        }
    }
}

.button {
    margin-left: 7.5rem;
    margin-top: 1.5rem;
    width: 8rem;
    height: 2.75rem;
    color: #252836;
    border-color: transparent;
    border-width: 1px;
    border-radius: 9999px;
    background: rgb(156, 163, 175, 1);
    font-size: large;
    font-weight: 700;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    cursor: pointer;

    &:hover {
        color: white;
        border-color: white;
        background: #252836;
    }
}